$mobile-version: "only screen and (max-width: calc(600 / 16 * 1rem))";
$medium-screen: "only screen and (max-width: calc(1150 / 16 * 1rem))";
$extraLarge-screen: "only screen and (min-width: calc(2170 / 16 * 1rem))";
