// General variables

//General font-family:
$primaryFontFamily: CircularMedium, sans-serif;
$secondaryFontFamily: CircularBook, sans-serif;

//General colors:

$primaryColor: #fff;
$secondaryColor: #000;
$ternaryColor: #ede8e4;
