@import "../styles/settings.scss";
@import "../styles/mixins.scss";

.advantagesContainer {
  position: relative;
  display: flex;
  padding: 60px;
  padding-left: 60px;
}

.advantagesTitle {
  @include subtitleStyle;
  padding-top: 71px;


}
